<html>
    {% set page_js = 'index.js' %}
    {% include 'common/head.twig' %}
    <body>
        <a href="login.php?cmd=logout">Logout</a><br />
        <a href="upload.php">Upload an image</a>
    </body>
</html>